nav(class="main-header navbar-fixed")
    div(class='nav-wrapper')		
        a(class="brand-logo left", href="/"): img(src="/images/logo.png")
        if credencial
            if(credencial.passport)
                a(href="#" data-activates="mobile-menu" class="button-collapse right") menu
                ul(class='right hide-on-med-and-down')
                    if credencial
                        -email = credencial.nombre
                        -menuHeader = [{option: 'reportes', value: '/'+email, class: "header-option-reportes"},{option: 'reporteros', value: '/'+email, class: "header-option-reporteros"},{option: 'configuracion', value: '/'+email+'/config', class: "header-opcion-configuracion"},{option: 'notificaciones', value: '/'+email, class: "header-opcion-notificaciones"},{option: 'salir', value: '/user/logout', class: "header-opcion-logout"}];
                        for opcion in menuHeader
                            if activeHeader === opcion.option
                                li.active: a(href='#{opcion.value}' class='#{opcion.class}') #{opcion.option}
                            else
                                li: a(href='#{opcion.value}' class='#{opcion.class}') #{opcion.option}
                ul(class="side-nav", id="mobile-menu")
                    img(src="/images/logo.png" class="center")
                    for opcion in menuHeader
                            if activeHeader === opcion.option
                                li.active: a(href='#{opcion.value}' class='#{opcion.class}') #{opcion.option}
                            else
                                li: a(href='#{opcion.value}' class='#{opcion.class}') #{opcion.option}