section(class='white z-depth-1 col s12 m8 l8')
    header(class='row header-section')
        div(class='header-container col s12 m5 l5')
            if reportes
                -totalPages = Math.ceil(reportes.length / 12)
                ul(class='pagination center' data-skip="0")
                    li(class='waves-efect'): a(href='#') <
                    -iter = 0
                    while iter < totalPages
                        if iter === 0
                            li(class='active' data-index='#{iter}'): a(href='#' class='active') #{1+ iter++}
                        else
                            li(data-index='#{iter}'): a(href='#') #{1+ iter++}
                    li: a(href='#') >
        div(class='header-container col s12 m4 l4')
            div(class='input-field')
                select(name="categorias")
                    option(value="categoria 1") Actos delictivos
                    option(value="categoria 2") Medio ambiente
                    option(value="categoria 3") Transporte
                    option(value="categoria 3") Servicios publicos
                    option(value="categoria 3") Salud
    section(class='row')
        div
            if reportes
              for rep in reportes
                   div(class='col s12 m12 l12 report-list')
                        h3: a(href='/#{credencial.nombre}/reportes/#{rep._id}/details') #{ rep.titulo }
                        p #{ rep.descripcion }
                        small Publicado el #{ rep.timestamp }
            else
                h5 no hay reportes