extends ../layout
block content
    include ../components/header
    section(id='main-content-small' class='row')
        div(class='subcontainer')
            div(class='col s12 m4 l4 panel-option hide-on-med-and-down')
                ul(class='section table-of-contents')
                    li(class=''): a(href='#informacion-general') Informacion general
                    li: a(href='#adjuntar-fotos') Adjuntar fotos
                    li: a(href='#ubica-problema')  Ubica el problema
            div(class='col s12 m12 l8')
                form(id='form-report' action='/#{credencial.nombre}/report/add' method='post' enctype='multipart/form-data')
                    div(class='block-report row section white z-depth-1' id='informacion-general')
                        h5 Informacion general
                        div(class='input-field col s12')
                            input(class='' type='text', placeholder='Titulo del reporte' name='titulo')
                        div(class='input-field col s12')
                            textarea(class='materialize-textarea' name='descripcion' type='text' placeholder='Agrega una descripcion')
                        div(class='input-field col s6 m6 l6')
                            select(name='categoria' id='categoria')
                                if categorias
                                    for cat in categorias
                                        option(value='#{cat._id}') #{cat.nombre}
                                else
                                    option(value='null') No hay categorias
                            label(for="categoria") Elige una categoria
                        div(class='input-field col s6 m6 l6')
                            select(name='problema' id='problema')
                                option(value='null') Sin problemas seleccionados
                            label(for="problema") Elige el tipo de problema
                                
                    div(class='block-report section row white z-depth-1' id='adjuntar-fotos')
                        h5 Adjunta fotos del problema
                        div(class='input-field col m4')
                            input(type='file' name='photos' id='archivos' style='width: 100%' multiple)
                        div(class='col m8' style='backgrond: green')
                            div(id='lista' class='row' style='height: 10em; width: 100%;')
                    div(class='block-report section white z-depth-1 row' id='ubica-problema')
                        h5 Ubica el lugar del problema
                            small(id='reportLocality')  | #{user.ciudad.nombre}
                        div(id='map-report' data-lat="#{user.ciudad.lat}" data-lng="#{user.ciudad.lng}" class='z-depth-1')
                        input(type='hidden' name='lat' id='input-lat' value='#{user.ciudad.lat}')
                        input(type='hidden' name='lng' id='input-lng' value='#{user.ciudad.lng}')
                    input(type='submit' value='Guardar' class='btn')
block append scripts
    script(src='/javascripts/upload-photos.js')
    script(src='/javascripts/map.js')