extends ../layout
block content
    include ../components/header
    div(class='subcontainer container')
            section(class='block-report row panel')
                div.container-title.container-wrap
                    h5 #{ reporte.titulo }
                    input(type="hidden" id='id-reporte' value='#{reporte._id}')
                    div
                        if credencial.rol === "ciudadano"
                            a(class='btn-title tooltip' id='btn-apoyo' data-idrep='#{reporte._id}' data-position='top' data-delay='50' data-tooltip='Llamado de atenci贸n'): i(class='fa fa-bullhorn')
                        if credencial.nombre === reporte.autor.email
                            a(class='btn-title tooltip' data-position='top' data-delay='50' data-tooltip='Eliminar' id='btn-eliminar'): i(class='fa fa-trash')
                        if credencial.nombre === reporte.autor.email
                            a(class='btn-title tooltip btn-solved' data-position='top' data-delay='50' data-tooltip='Marcar como solucionado' id='btn-solucionar'): i(class='fa fa-check')
                        if credencial.rol === "organizacion"
                            a(class='btn-title tooltip' href='#modal-respuesta' data-position='top' data-delay='50' data-tooltip='Agregar una nota rapida' id="openModal"): i(class='fa fa-pencil-square-o')
                hr(class='linear-title')
                
                // mostrar modal
                div(class='modal modal-fixed-footer' id="modal-respuesta")
                    div(class="modal-content")
                        h4.title-medium Selecciona una respuesta rapida
                            if respuestasIn
                                div(class='input-field')
                                    select(name="respuesta" id='select-respuesta')
                                        option(value="") Selecciona una 
                                            for res in respuestasIn
                                                option(value="#{res._id}") #{res.message}
                        a(id="btn-add-respuesta" class='btn') Enviar respuesta
                // slider de fotos          
                div(class='slider-photos')
                    ul(class='container-title' id='container-photos')
                        if reporte.url_fotos.length > 0
                            for foto in reporte.url_fotos
                                li: img(src="/photos/#{foto}" class='responsive-img')
                        else
                            li: div NO HAY IMAGENES ASOCIADAS A ESTA FOTO
                div(class='element-panel detail-description')
                    b Descripcion
                    p #{ reporte.descripcion }
            section(class='block-report row panel')
                section(class='col s12 l6 m6')
                    div.element-panel
                        h5 Detalles del reporte
                        hr(class='linear-title')
                        div(class='panel-data element-panel')
                            p.panel-data-item
                                strong.left-align Fecha de publicaci贸n
                                span.right-align #{ reporte.timestamp.toLocaleDateString() }
                            p.panel-data-item
                                strong.left-align Tipo de problema
                                for problema in reporte.problemas
                                    span.right-align #{problema.nombre}
                                        label  | #{problema.categoria.nombre}
                            p.panel-data-item
                                strong.left-align Estado actual del reporte
                                span(class='right-align solved' id='data#{reporte._id}') #{reporte.estado}
                            p.panel-data-item
                                strong.left-align Personas haciendo llamado de atenci贸n
                                span(class='right-align apoyo' id='data#{reporte._id}') #{ reporte.Napoyos.length }
                            p.panel-data-item
                                strong.left-align Autor
                                span.right-align #{ reporte.autor.nick }
                section(class='col s12 l6 m6')
                    div.element-panel
                        h5 Ubicaci贸n
                        hr(class='linear-title')
                        div(id='map-report-result' data-lat="#{reporte.ubicacion.lat}" data-lng="#{reporte.ubicacion.lng}" class='z-depth-1')
                section(class='block-report row panel')
                    div.element-panel
                        h5 Respuestas
                        hr(class='linear-title')
                    div(class='container-result' data-template="respuesta")
                        div.element-panel
                            if reporte.respuestas
                                for resp in reporte.respuestas
                                    div(class='result-item respuesta')
                                        div(class='respuesta-img')
                                            img(src='/images/avatar-organizacion.png')
                                        div(class='respuesta-contenido')
                                            p #{resp.message}
                                            small #{resp.autor.nombre} | #{resp.lapsoDeTiempo}
                            
            
block append scripts
    script.
        $("#openModal").leanModal()
    script(src='/javascripts/slider-report-photos.js')
    script(src='/javascripts/btn-title.js')
    script(src='/javascripts/map.js')
    script(src='/javascripts/ciudadano/btn-action-reports.js')